:root {
  --color-black: #000;
  --color-white-rgb: 0, 0, 0;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-gray-050: #f8f9f9;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e8eaeb;
  --color-gray-300: #d2d4d6;
  --color-gray-400: #bbbfc2;
  --color-gray-500: #a5a9ad;
  --color-gray-600: #8e9499;
  --color-gray-700: #6d7379;
  --color-gray-800: #4f5357;
  --color-gray-900: #26282a;
  --color-yellow-100: #fffef2;
  --color-yellow-200: #fffde6;
  --color-yellow-300: #fffacc;
  --color-yellow-400: #fff8b3;
  --color-yellow-500: #fff599;
  --color-yellow-600: #fff380;
  --color-yellow-700: #ffef59;
  --color-yellow-800: #ffeb33;
  --color-yellow-900: #ffe600;
  --color-blue-100: #f2f7ff;
  --color-blue-200: #e6eeff;
  --color-blue-300: #cdf;
  --color-blue-400: #b3ccff;
  --color-blue-500: #9bf;
  --color-blue-600: #80aaff;
  --color-blue-700: #5991ff;
  --color-blue-800: #37f;
  --color-blue-900: #05f;
  --color-base: var(--color-white);
  --color-base-transparent: rgba(var(--color-white-rgb), 0);
  --color-theme: var(--color-blue-700);
  --color-text-base: var(--color-gray-900);
  --color-text-sub: var(--color-gray-700);
  --color-text-link: var(--color-blue-600);
  --color-text-workdetail-description: var(--color-gray-800);
  --color-border-gray-300: var(--color-gray-200);
  --color-border-gray-600: var(--color-gray-300);
  --color-border-gray-900: var(--color-gray-500);
  --color-border-white: var(--color-white);
  --color-btn-text: var(--color-blue-700);
  --color-btn-icon: var(--color-blue-700);
  --color-btn-bg: var(--color-blue-100);
  --color-btn-bg-hover: transparent;
  --color-header-btn-bg: transparent;
  --color-header-btn-bg-hover: var(--color-gray-100);
  --color-hero-bg: var(--color-gray-050);
  --color-hero-text: var(--color-white);
  --color-hero-shadow: var(--color-gray-900);
  --color-thum-bg: var(--color-white);
  --color-thum-border: var(--color-white);
  --color-skill-item-bg: var(--color-gray-050);
  --color-tech-item-border: var(--color-border-gray-300);
  --color-certification-list-wrapper-bg: var(--color-blue-100);
  --color-certification-item-bg: var(--color-white);
  --color-grad-trans-to-base: linear-gradient(var(--color-base-transparent), var(--color-base));
  --min-width-pc: 1120px;
}
